<!-- scanner -->
<div [hidden]="!(statusScanner$ | async)">
  <zxing-scanner
    class="qr-reader"
    [(device)]="currentDevice"
    [formats]="allowedFormats"
    (camerasFound)="onCamerasFound($event)"
    (scanSuccess)="scanSuccessHandler($event)"
    (permissionResponse)="readerStatus($event)"
    [tryHarder]="true"
  ></zxing-scanner>

  <mat-form-field appearance="fill" *ngIf="availableDevices?.length > 1">
    <mat-label>Cam Disponibili</mat-label>
    <mat-select (selectionChange)="selectDevice($event)">
      <mat-option *ngFor="let device of availableDevices; let i= index" [value]="device.deviceId">
        {{i}} - {{device.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- gestione in caso di scanner disabilitato o non funzionante -->
<div [hidden]="statusScanner$ | async">
  <mat-icon svgIcon="qrcode" class="qr-icon"></mat-icon>
  <div class="qr-message">abilitare il lettore qrcode.</div>
</div>
